<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AlejandroG</title>
    <link rel="stylesheet" href="/src/output.css">
</head>
<body>
    <nav class="bg-slate-950 text-white flex justify-between items-center text-center h-20">
        <h1 class="mx-4">AlejandroGA</h1>
        <ul class="flex space-x-4 mx-4">
            <li><a href="/index.html">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
    </nav>
</body>
</html>
